## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
file_to_load = os.path.join("..", "Weather_Database", "WeatherPy_Database.csv")
city_data_df = pd.read_csv(file_to_load)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,-0.6000,73.0833,83.88,69,95,11.77,overcast clouds
1,1,Auki,SB,-8.7676,160.7034,79.41,83,100,6.31,overcast clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,41.11,82,0,14.09,clear sky
3,3,Dekar,BW,-21.5333,21.9333,55.08,54,0,8.77,clear sky
4,4,Hermanus,ZA,-34.4187,19.2345,57.79,50,67,7.99,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hithadhoo,MV,-0.6000,73.0833,83.88,69,95,11.77,overcast clouds
1,1,Auki,SB,-8.7676,160.7034,79.41,83,100,6.31,overcast clouds
6,6,Rikitea,PF,-23.1203,-134.9692,74.53,68,61,2.89,broken clouds
7,7,Ca Mau,VN,9.1769,105.1500,80.55,81,99,12.75,overcast clouds
8,8,Manado,ID,1.4870,124.8455,81.37,69,20,4.16,few clouds
9,9,San Patricio,US,28.0170,-97.5169,82.87,75,68,12.08,broken clouds
10,10,Jenison,US,42.9072,-85.7920,70.70,82,100,1.99,overcast clouds
12,12,Lang Son,VN,21.8333,106.7333,75.00,89,95,6.33,moderate rain
17,17,Kapaa,US,22.0752,-159.3190,81.48,68,40,3.00,scattered clouds
18,18,Pangai,TO,-19.8000,-174.3500,77.88,82,96,6.53,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                298
City                   298
Country                296
Lat                    298
Lng                    298
Max Temp               298
Humidity               298
Cloudiness             298
Wind Speed             298
Current Description    298
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.count()

City_ID                296
City                   296
Country                296
Lat                    296
Lng                    296
Max Temp               296
Humidity               296
Cloudiness             296
Wind Speed             296
Current Description    296
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,83.88,overcast clouds,-0.6000,73.0833,
1,Auki,SB,79.41,overcast clouds,-8.7676,160.7034,
6,Rikitea,PF,74.53,broken clouds,-23.1203,-134.9692,
7,Ca Mau,VN,80.55,overcast clouds,9.1769,105.1500,
8,Manado,ID,81.37,few clouds,1.4870,124.8455,
9,San Patricio,US,82.87,broken clouds,28.0170,-97.5169,
10,Jenison,US,70.70,overcast clouds,42.9072,-85.7920,
12,Lang Son,VN,75.00,moderate rain,21.8333,106.7333,
17,Kapaa,US,81.48,scattered clouds,22.0752,-159.3190,
18,Pangai,TO,77.88,overcast clouds,-19.8000,-174.3500,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    print(f"Retrieving Results for Index {index}: {lat, lng}.")
   
    hotels = requests.get(base_url, params=params).json()
 
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    #try:
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Retrieving Results for Index 0: (-0.6, 73.0833).
Retrieving Results for Index 1: (-8.7676, 160.7034).
Retrieving Results for Index 6: (-23.1203, -134.9692).
Retrieving Results for Index 7: (9.1769, 105.15).
Retrieving Results for Index 8: (1.4869999999999999, 124.8455).
Retrieving Results for Index 9: (28.017, -97.5169).
Retrieving Results for Index 10: (42.9072, -85.792).
Retrieving Results for Index 12: (21.8333, 106.7333).
Retrieving Results for Index 17: (22.0752, -159.319).
Retrieving Results for Index 18: (-19.8, -174.35).
Retrieving Results for Index 20: (-3.6667, 152.4333).
Retrieving Results for Index 21: (7.6244, -11.8332).
Retrieving Results for Index 22: (39.1834, -84.5333).
Retrieving Results for Index 24: (-21.2078, -159.775).
Retrieving Results for Index 27: (10.9995, 122.6711).
Retrieving Results for Index 28: (-0.7393, -90.3518).
Retrieving Results for Index 31: (-1.9417, -54.7383).
Retrieving Results for Index 37: (14.8961, -24.4956).
Retrieving Results for Index 43: (-9.8756, -56.0861).
Retrieving Results for Index 45: (40.6576, -73.5832).
Retrieving Results for Index 47: (41.3712, -73.414).
Retrieving Results for Index 48: (19.7297, -155.09).
Retrieving Results for Index 52: (37.1041, -113.5841).
Retrieving Results for Index 54: (-5.1989, -35.4608).
Retrieving Results for Index 58: (15.7432, -96.4661).
Retrieving Results for Index 59: (17.0151, 54.0924).
Retrieving Results for Index 63: (4.423, -7.3528).
Retrieving Results for Index 64: (-20.1, 146.2667).
Retrieving Results for Index 65: (1.0, -52.0).
Hotel not found... skipping.
Retrieving Results for Index 67: (13.2333, -85.3833).
Hotel not found... skipping.
Retrieving Results for Index 76: (-23.5333, 148.1667).
Retrieving Results for Index 78: (9.9401, 3.2108).
Retrieving Results for Index 82: (-3.8004, 102.2655).
Retrieving Results for Index 83: (-16.5167, -151.75).
Retrieving Results for Index 87: (-3.2033, -52.2064).
Retrieving Results for Index 88: (14.1646, 38.8955).
Retrieving Results for Index 92: (19.2056, -69.3369).
Retrieving Results for Index 97: (-2.5744, 150.7967).
Retrieving Results for Index 100: (-1.8283, -44.8683).
Retrieving Results for Index 101: (6.7989, 81.4808).
Hotel not found... skipping.
Retrieving Results for Index 102: (-21.2, -175.2).
Retrieving Results for Index 103: (-22.9661, -42.0278).
Retrieving Results for Index 106: (-15.1961, 12.1522).
Retrieving Results for Index 107: (-16.9167, 145.7667).
Retrieving Results for Index 108: (23.1667, -97.95).
Retrieving Results for Index 113: (25.6667, 78.4667).
Retrieving Results for Index 114: (-10.4544, 161.9205).
Retrieving Results for Index 116: (29.2333, 77.0167).
Retrieving Results for Index 121: (0.5333, 72.9333).
Hotel not found... skipping.
Retrieving Results for Index 122: (35.3658, -120.8499).
Retrieving Results for Index 128: (-20.7377, 116.8463).
Retrieving Results for Index 130: (-17.7125, -39.2481).
Retrieving Results for Index 133: (20.5169, -13.0499).
Retrieving Results for Index 137: (21.4612, -71.1419).
Retrieving Results for Index 138: (12.2167, 99.75).
Retrieving Results for Index 139: (7.9281, 1.9756).
Retrieving Results for Index 141: (-9.8, -139.0333).
Retrieving Results for Index 145: (33.6416, 42.8251).
Retrieving Results for Index 146: (42.097, -79.2353).
Retrieving Results for Index 150: (26.7693, 31.5021).
Retrieving Results for Index 151: (22.8909, -109.9124).
Retrieving Results for Index 155: (3.0707, 172.7902).
Retrieving Results for Index 159: (2.0371, 45.3438).
Retrieving Results for Index 160: (11.6667, 92.75).
Retrieving Results for Index 161: (-2.9248, -39.9167).
Retrieving Results for Index 162: (7.4525, 126.5842).
Retrieving Results for Index 163: (39.2048, -84.428).
Retrieving Results for Index 165: (42.7342, -90.4785).
Retrieving Results for Index 170: (13.567, -86.02600000000001).
Retrieving Results for Index 174: (27.2517, -82.5147).
Retrieving Results for Index 175: (-8.145, 159.5921).
Retrieving Results for Index 176: (2.6708, 72.8944).
Retrieving Results for Index 188: (-22.6667, 167.4833).
Retrieving Results for Index 189: (5.5167, 5.75).
Retrieving Results for Index 196: (-7.7136, -66.9764).
Retrieving Results for Index 200: (16.3, 80.45).
Retrieving Results for Index 201: (18.6853, 12.9164).
Retrieving Results for Index 212: (-7.95, 110.2833).
Retrieving Results for Index 213: (11.8464, 13.1603).
Retrieving Results for Index 214: (-19.55, 169.2667).
Retrieving Results for Index 217: (20.8947, -156.47).
Retrieving Results for Index 218: (1.1983, -70.1733).
Hotel not found... skipping.
Retrieving Results for Index 220: (4.3133, -72.0816).
Retrieving Results for Index 221: (6.1241, 81.1185).
Retrieving Results for Index 222: (25.05, 61.7417).
Retrieving Results for Index 223: (-17.0, 145.4333).
Retrieving Results for Index 224: (9.5334, 31.6605).
Retrieving Results for Index 226: (35.7333, 140.8333).
Retrieving Results for Index 227: (22.5667, 59.5289).
Retrieving Results for Index 231: (26.7, 93.9667).
Retrieving Results for Index 233: (17.5167, -101.2667).
Retrieving Results for Index 235: (-0.9131, 122.8766).
Retrieving Results for Index 236: (-2.65, 10.0).
Hotel not found... skipping.
Retrieving Results for Index 238: (13.2167, -59.5167).
Retrieving Results for Index 239: (21.8525, -78.1169).
Retrieving Results for Index 240: (34.4506, 40.9171).
Retrieving Results for Index 244: (20.9, 70.3667).
Retrieving Results for Index 249: (-23.7, 133.8833).
Retrieving Results for Index 251: (30.2832, 57.0788).
Retrieving Results for Index 252: (-10.6167, 150.6667).
Retrieving Results for Index 253: (41.1415, -73.3579).
Retrieving Results for Index 255: (7.0419, 134.2556).
Retrieving Results for Index 257: (-0.7193, 8.7815).
Retrieving Results for Index 258: (26.0167, 93.7833).
Retrieving Results for Index 260: (25.3616, 69.7362).
Retrieving Results for Index 262: (36.4141, 64.9053).
Retrieving Results for Index 263: (-6.3708, -44.3631).
Retrieving Results for Index 266: (19.8, 85.85).
Retrieving Results for Index 267: (-3.7661, -49.6725).
Retrieving Results for Index 268: (-12.1167, -73.0).
Hotel not found... skipping.
Retrieving Results for Index 269: (41.3973, -73.6171).
Retrieving Results for Index 272: (-0.9492, 100.3543).
Retrieving Results for Index 273: (31.8899, 120.6052).
Retrieving Results for Index 278: (40.4259, -86.9081).
Retrieving Results for Index 280: (1.1667, 108.9667).
Retrieving Results for Index 281: (-20.0064, 57.6608).
Retrieving Results for Index 283: (52.9999, -122.5029).
Retrieving Results for Index 284: (29.0331, 21.5482).
Retrieving Results for Index 288: (-20.5667, 164.2833).
Retrieving Results for Index 289: (-4.2761, -55.9836).
Retrieving Results for Index 290: (-20.2333, 164.0167).
Retrieving Results for Index 291: (53.1667, 63.5833).
Retrieving Results for Index 292: (-20.7333, 139.5).
Retrieving Results for Index 296: (13.2403, 99.8243).
Retrieving Results for Index 299: (-1.8333, -65.3667).
Hotel not found... skipping.
Retrieving Results for Index 301: (9.51, -7.5692).
Retrieving Results for Index 302: (40.5982, -124.1573).
Retrieving Results for Index 304: (34.4133, -119.861).
Retrieving Results for Index 311: (5.4112, 100.3354).
Retrieving Results for Index 313: (42.1584, -72.3287).
Retrieving Results for Index 315: (26.326, 43.975).
Retrieving Results for Index 316: (25.5333, -103.25).
Retrieving Results for Index 317: (-6.6447, -51.995).
Retrieving Results for Index 318: (36.9559, 36.2).
Retrieving Results for Index 319: (19.25, 100.25).
Retrieving Results for Index 323: (36.5449, 61.1577).
Retrieving Results for Index 324: (34.6667, 138.95).
Retrieving Results for Index 325: (19.3003, 97.9685).
Retrieving Results for Index 326: (39.4101, -74.3646).
Retrieving Results for Index 327: (-2.5333, 112.95).
Retrieving Results for Index 328: (5.8933, 95.3214).
Retrieving Results for Index 330: (58.5169, -117.13600000000001).
Retrieving Results for Index 334: (-18.65, -173.9833).
Retrieving Results for Index 336: (4.8699, -2.2405).
Retrieving Results for Index 337: (-15.8631, -38.8828).
Retrieving Results for Index 338: (-6.1219, 141.2906).
Retrieving Results for Index 342: (39.446999999999996, -86.1758).
Retrieving Results for Index 350: (-13.275, -50.1628).

Retrieving Results for Index 354: (18.4167, 75.2).
Retrieving Results for Index 357: (17.6667, -96.1333).
Retrieving Results for Index 358: (37.3482, 59.6143).
Hotel not found... skipping.
Retrieving Results for Index 365: (27.0377, 14.4283).
Retrieving Results for Index 368: (22.9333, 57.5333).
Retrieving Results for Index 372: (11.2833, -15.8333).
Retrieving Results for Index 377: (-15.9169, -46.1056).
Retrieving Results for Index 378: (14.0, -88.35).
Retrieving Results for Index 383: (11.5, 42.5).
Retrieving Results for Index 385: (-15.3972, -42.8664).
Retrieving Results for Index 386: (4.9533, -77.366).
Retrieving Results for Index 387: (24.4167, 76.5667).
Retrieving Results for Index 392: (13.6017, 26.6876).
Hotel not found... skipping.
Retrieving Results for Index 393: (34.9833, 139.8667).
Retrieving Results for Index 394: (18.7369, 7.3853).
Retrieving Results for Index 399: (22.05, -98.1667).
Retrieving Results for Index 400: (35.1717, -103.725).
Retrieving Results for Index 401: (3.4568, 8.5547).
Hotel not found... skipping.
Retrieving Results for Index 403: (-15.7667, 128.7333).
Retrieving Results for Index 404: (33.194, -82.5271).
Hotel not found... skipping.
Retrieving Results for Index 405: (-16.4833, -151.75).
Retrieving Results for Index 406: (-6.8976, 112.0649).
Retrieving Results for Index 407: (-1.7625, -48.8043).
Retrieving Results for Index 409: (34.6391, -120.4579).
Retrieving Results for Index 413: (-15.89, -52.2567).
Retrieving Results for Index 414: (-17.5333, -149.3333).
Retrieving Results for Index 416: (0.5167, 25.2).
Retrieving Results for Index 417: (29.1081, 21.2869).
Hotel not found... skipping.
Retrieving Results for Index 418: (18.217, -63.0578).
Retrieving Results for Index 421: (35.5362, -100.9599).
Retrieving Results for Index 424: (21.6422, 69.6093).
Retrieving Results for Index 425: (6.8833, 73.1).
Retrieving Results for Index 427: (29.9697, 40.2064).
Retrieving Results for Index 429: (9.3333, -82.25).
Retrieving Results for Index 434: (6.7533, -11.3686).
Retrieving Results for Index 436: (25.5198, 90.2201).
Retrieving Results for Index 439: (-2.6833, 111.6167).
Retrieving Results for Index 448: (9.55, -79.65).
Retrieving Results for Index 453: (-8.8978, -35.1478).
Retrieving Results for Index 454: (32.2504, -101.4787).
Retrieving Results for Index 458: (-32.5, 137.7667).
Retrieving Results for Index 460: (14.9167, 120.55).
Retrieving Results for Index 462: (-2.1667, 16.2333).
Retrieving Results for Index 464: (28.4008, -97.7483).
Retrieving Results for Index 465: (-14.2667, 50.1667).
Retrieving Results for Index 468: (10.6317, -71.6406).
Retrieving Results for Index 469: (8.2, -59.7833).
Retrieving Results for Index 471: (34.5773, -83.3324).
Retrieving Results for Index 472: (-1.7656, -55.8661).
Retrieving Results for Index 475: (-12.485999999999999, 130.9833).
Retrieving Results for Index 476: (31.5604, -91.4032).
Retrieving Results for Index 477: (9.4942, 50.8122).
Retrieving Results for Index 478: (-9.6658, -35.7353).
Retrieving Results for Index 479: (-17.7333, -149.15).
Retrieving Results for Index 480: (2.3, 111.8167).
Retrieving Results for Index 483: (33.7333, 135.9833).
Retrieving Results for Index 484: (23.55, 75.5167).
Retrieving Results for Index 486: (-19.0595, -169.9187).
Retrieving Results for Index 490: (1.3292, 172.9752).
Retrieving Results for Index 492: (4.1363, 96.1285).
Retrieving Results for Index 499: (12.5707, 99.9588).
Retrieving Results for Index 500: (30.7554, 20.2263).
Retrieving Results for Index 501: (-6.8844, 112.2051).
Retrieving Results for Index 504: (-34.0363, 23.0471).
Retrieving Results for Index 505: (5.3505, 48.5268).
Retrieving Results for Index 511: (25.2867, 51.5333).
Retrieving Results for Index 513: (-21.6924, 165.67700000000002).
Retrieving Results for Index 516: (11.7751, -72.4445).
Retrieving Results for Index 517: (-20.3297, -40.2925).
Retrieving Results for Index 518: (13.0878, 80.2785).
Retrieving Results for Index 520: (-10.3353, -67.1856).
Retrieving Results for Index 522: (-8.103, 156.8419).
Retrieving Results for Index 523: (-12.28, 43.7425).
Retrieving Results for Index 526: (9.2463, 118.4082).
Retrieving Results for Index 528: (-20.9667, 164.7).
Retrieving Results for Index 530: (-6.9811, -34.8339).
Retrieving Results for Index 533: (26.5881, 127.9761).
Retrieving Results for Index 534: (7.9868, 117.0645).
Retrieving Results for Index 536: (54.7169, -113.2854).
Retrieving Results for Index 538: (5.7333, 115.9333).
Retrieving Results for Index 540: (29.1268, 15.9477).
Retrieving Results for Index 542: (-5.795, -35.2094).
Retrieving Results for Index 543: (-5.5502, 150.1429).
Retrieving Results for Index 544: (9.8167, 80.2333).
Retrieving Results for Index 547: (36.6177, -121.9166).
Retrieving Results for Index 551: (36.7281, -108.2187).
Retrieving Results for Index 553: (-8.4753, -74.8058).
Retrieving Results for Index 555: (12.524000000000001, -70.027).
Retrieving Results for Index 556: (20.8833, 94.8167).
Retrieving Results for Index 559: (41.6573, -87.6801).
Retrieving Results for Index 562: (0.6, -80.0333).
Retrieving Results for Index 565: (30.4091, -89.0436).
Retrieving Results for Index 566: (16.8634, -99.8901).
Retrieving Results for Index 571: (13.0349, -9.4895).
Retrieving Results for Index 574: (27.3747, 87.2039).
Retrieving Results for Index 576: (20.2978, -76.2414).
Retrieving Results for Index 577: (36.4337, -99.3904).
Retrieving Results for Index 581: (34.8014, -106.5436).
Retrieving Results for Index 583: (8.0586, -6.1897).
Retrieving Results for Index 584: (38.5614, -89.8973).
Retrieving Results for Index 587: (17.9583, -102.2).
Retrieving Results for Index 588: (1.3349, -74.8429).
Retrieving Results for Index 591: (0.8, 127.4).
Retrieving Results for Index 592: (27.75, -107.6333).
Retrieving Results for Index 595: (-9.0122, -35.2225).
Retrieving Results for Index 597: (4.9333, -52.3333).
Retrieving Results for Index 601: (3.8678, 17.9892).
Hotel not found... skipping.
Retrieving Results for Index 602: (1.4451, 125.1824).
Retrieving Results for Index 604: (-10.1667, 123.5833).
Retrieving Results for Index 608: (13.3154, 12.6113).
Retrieving Results for Index 611: (-2.0226, 147.2712).
Retrieving Results for Index 613: (11.0461, 14.1401).
Retrieving Results for Index 618: (14.0833, 98.2).
Retrieving Results for Index 621: (38.1749, -122.2608).
Retrieving Results for Index 623: (40.7359, -73.0821).
Retrieving Results for Index 625: (-24.85, 152.35).
Retrieving Results for Index 626: (12.2188, 125.4808).
Retrieving Results for Index 633: (-22.0016, 148.0466).
Retrieving Results for Index 636: (38.421, -121.4238).
Retrieving Results for Index 637: (-9.0763, 143.2092).
Retrieving Results for Index 641: (26.451999999999998, -81.9481).
Retrieving Results for Index 642: (17.4924, 44.1277).
Retrieving Results for Index 644: (-3.2175, 40.1191).
Retrieving Results for Index 645: (8.1333, -5.1).
Retrieving Results for Index 647: (37.4636, -122.4286).
Retrieving Results for Index 648: (36.2411, 115.6672).
Retrieving Results for Index 651: (21.3156, -158.0072).
Retrieving Results for Index 652: (10.6667, -61.5333).
Retrieving Results for Index 653: (17.8815, -76.4093).
Retrieving Results for Index 655: (-6.4667, 16.8167).
Hotel not found... skipping.
Retrieving Results for Index 657: (50.6665, -120.3192).
Retrieving Results for Index 658: (22.9036, -83.1592).
Retrieving Results for Index 659: (20.8667, -90.4).
Retrieving Results for Index 660: (-1.5, 33.8).
Retrieving Results for Index 661: (26.4394, 83.6144).
Retrieving Results for Index 662: (14.7208, -92.4215).
Retrieving Results for Index 666: (9.9658, 98.6348).
Retrieving Results for Index 671: (5.6667, 73.0).
Retrieving Results for Index 672: (-14.3047, -43.765).
Retrieving Results for Index 676: (13.2154, 18.3353).
Hotel not found... skipping.
Retrieving Results for Index 677: (8.1222, -63.5497).
Retrieving Results for Index 678: (5.9667, 80.4167).
Retrieving Results for Index 680: (35.1333, 140.3).
Retrieving Results for Index 684: (-5.51, 22.2667).
Hotel not found... skipping.
Retrieving Results for Index 686: (14.9215, -23.5087).
Retrieving Results for Index 688: (-21.15, 149.2).
Retrieving Results for Index 690: (22.9167, -98.0667).

Retrieving Results for Index 691: (6.4635, -2.3194).

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,83.88,overcast clouds,-0.6000,73.0833,Scoop Guest House
1,Auki,SB,79.41,overcast clouds,-8.7676,160.7034,Auki Motel
6,Rikitea,PF,74.53,broken clouds,-23.1203,-134.9692,Pension Maro'i
7,Ca Mau,VN,80.55,overcast clouds,9.1769,105.1500,Khách Sạn Mường Thanh Luxury Cà Mau
8,Manado,ID,81.37,few clouds,1.4870,124.8455,Aryaduta Hotel
9,San Patricio,US,82.87,broken clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
10,Jenison,US,70.70,overcast clouds,42.9072,-85.7920,"Holiday Inn Express Grand Rapids SW, an IHG Hotel"
12,Lang Son,VN,75.00,moderate rain,21.8333,106.7333,Khai Nga Hotel
17,Kapaa,US,81.48,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Pangai,TO,77.88,overcast clouds,-19.8000,-174.3500,Ha'apai Beach Resort

In [10]:
hotel_df.count()

City                   296
Country                296
Max Temp               296
Current Description    296
Lat                    296
Lng                    296
Hotel Name             296
dtype: int64

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,83.88,overcast clouds,-0.6000,73.0833,Scoop Guest House
1,Auki,SB,79.41,overcast clouds,-8.7676,160.7034,Auki Motel
6,Rikitea,PF,74.53,broken clouds,-23.1203,-134.9692,Pension Maro'i
7,Ca Mau,VN,80.55,overcast clouds,9.1769,105.1500,Khách Sạn Mường Thanh Luxury Cà Mau
8,Manado,ID,81.37,few clouds,1.4870,124.8455,Aryaduta Hotel
9,San Patricio,US,82.87,broken clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
10,Jenison,US,70.70,overcast clouds,42.9072,-85.7920,"Holiday Inn Express Grand Rapids SW, an IHG Hotel"
12,Lang Son,VN,75.00,moderate rain,21.8333,106.7333,Khai Nga Hotel
17,Kapaa,US,81.48,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Pangai,TO,77.88,overcast clouds,-19.8000,-174.3500,Ha'apai Beach Resort

In [12]:
# df['Tenant'].replace('', np.nan, inplace=True)
clean_hotel_df["Hotel Name"].replace("", np.nan, inplace=True)
#df.dropna(subset=['Tenant'], inplace=True)
clean_hotel_df.dropna(subset=["Hotel Name"], inplace=True)
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hithadhoo,MV,83.88,overcast clouds,-0.6000,73.0833,Scoop Guest House
1,Auki,SB,79.41,overcast clouds,-8.7676,160.7034,Auki Motel
6,Rikitea,PF,74.53,broken clouds,-23.1203,-134.9692,Pension Maro'i
7,Ca Mau,VN,80.55,overcast clouds,9.1769,105.1500,Khách Sạn Mường Thanh Luxury Cà Mau
8,Manado,ID,81.37,few clouds,1.4870,124.8455,Aryaduta Hotel

In [13]:
# 8a. Create the output File (CSV)
output_data_file = os.path.join("..", "Vacation_Search", "WeatherPy_vacation.csv")
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [14]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))